                    #acessa {
                        background: linear-gradient(#f9d8d0, rgb(241, 188, 188));
                        height: 100%;
                        .acessa-image {
                            height: 100vh;
                            img {
                                position: absolute;
                                bottom: 0;
                            }
                        }
                        .acessa-texto {
                            height: 100vh;
                            h1 {
                                font-size: 38px;
                                color: #4E4E4E;
                                font-weight: bold;
                                font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
                            }
                            h2 {
                                font-size: 38px;
                                color: #fff;
                                font-weight: bold;
                                font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
                            }
                            .btn {
                                background: $color-a;
                                width: 168px;
                                height: 48px;
                                border-radius: 18px;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &:hover {
                                    background: $color-f;
                                }
                            }
                        }
                    }
                    
                    @media (max-width:991.98px) {
                        #acessa {
                            overflow: hidden;
                            height: 100vh;
                            display: flex;
                            align-items: center;
                            overflow: hidden;
                            .acessa-image {
                                height: 100%;
                                img {
                                    position: relative;
                                    width: 290px;
                                }
                            }
                            .acessa-texto {
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                height: 100%;
                                h1 {
                                    font-size: 24px;
                                    color: #4E4E4E;
                                    font-weight: bold;
                                    font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
                                    min-width: 342px;
                                }
                                h2 {
                                    font-size: 24px;
                                    color: #fff;
                                    font-weight: bold;
                                    font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
                                    min-width: 342px;
                                }
                            }
                        }
                    }