#biblioteca-impd {
    background: rgb(78, 78, 78);
    background-image: url(../img/img-biblioteca/img-biblioteca.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    .d-pabdd {
        padding: 36px 0;
    }
    h1 {
        color: $color-a;
        font-size: 40px;
        font-weight: bold;
    }
    h2 {
        color: #fff;
        font-size: 18px;
    }
}

#biblioteca-livros {
    .opcoes-livros {
        h1 {
            color: $color-a;
        }
        ul {
            position: relative;
            a {
                text-decoration: none;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                border-radius: 60px;
                background: #828282;
                bottom: 2px;
                left: 50%;
                transform: translatex(-50%);
            }
        }
        li {
            margin: 0 28px;
            color: #828282;
            overflow: hidden;
            position: relative;
            padding: 0 40px 20px 40px;
            font-size: 16px;
            font-weight: bolder;
            cursor: pointer;
            transition: .4s ease-in-out;
            &.active::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 6px;
                border-radius: 80px;
                background: $color-a;
                left: 50%;
                transform: translatex(-50%);
                bottom: 1px;
            }
            &:hover::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 6px;
                border-radius: 80px;
                background: $color-a;
                left: 50%;
                transform: translatex(-50%);
                bottom: 1px;
            }
        }
    }
    .livros {
        .box-livro {
            height: auto;
            .cont-livro {
                font-size: 14px;
                background: #eeee;
                transition: .4s ease-in-out;
                padding: 12px;
                border-radius: 5px;
                &:hover {
                    background: $color-a;
                }
                &:hover h2 {
                    margin-top: 8px;
                    font-size: 14px;
                    color: #ffff;
                }
                .img-livros {
                    border-radius: 5px;
                    width: 100%;
                    img {
                        box-shadow: 0 3px 8px #000;
                        border-radius: 5px;
                    }
                }
                h2 {
                    margin-top: 8px;
                    font-size: 14px;
                    color: $color-b;
                }
                .btn-livro {
                    a {
                        text-decoration: none;
                    }
                    .btn {
                        width: 154px;
                        height: 30px;
                        background: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $color-a;
                        span {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:991.98px) {
    #biblioteca-livros {
        .opcoes-livros {
            h1 {
                color: $color-a;
            }
            ul {
                width: 100%;
                position: relative;
                &::before {
                    content: '';
                    display: none;
                }
            }
            li {
                margin: 0 5px;
                color: #828282;
                overflow: visible;
                position: relative;
                padding: 0 0px 0px 0px;
                font-size: 16px;
                font-weight: bolder;
                cursor: pointer;
                transition: .4s ease-in-out;
                &.active::before {
                    content: '';
                    display: none;
                }
                &:hover::before {
                    content: '';
                    display: none;
                }
                &:hover {
                    color: $color-a;
                }
                &.active {
                    color: $color-a;
                }
            }
        }
    }
}