#cervicos-disponives {
    height: auto;
    width: 100%;
    background-image: url(../img/classroom.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .trans {
        width: 100%;
        background: $color-a-t;
        padding: 70px 0;
    }
    .pand {
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        @include fonte-28px-g;
    }
    .box-sd {
        overflow: hidden;
        width: 244px;
        margin-top: 35px;
        h1 {
            @include fonte-28px-g;
        }
        h2 {
            background: $color-b-t;
            padding: 8px 12px;
            width: 100%;
            @include font-18px-g;
            margin-left: 26px;
        }
    }
}