#devs {
    padding: 106px 0;
    background: $color-e;
    overflow: hidden;
    h5 {
        @include font-18px-c;
    }
    .cont-box-devs {
        width: 233px;
        margin-top: 20px;
    }
    .bgimg1 {
        background-image: url(../img/img-devs/dev1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bgimg2 {
        background-image: url(../img/img-devs/dev2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bgimg3 {
        background-image: url(../img/img-devs/dev3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bgimg4 {
        background-image: url(../img/img-devs/dev4.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box-dev {
        height: 226px;
        position: relative;
        border-radius: 5px;
        border: solid $color-a 4px;
        overflow: hidden;
        &:hover .redes {
            transform: translateY(0px);
            transition: .6s ease-in-out;
        }
    }
    h3 {
        @include font-18px-b-devs;
        width: 100%;
        text-align: center;
        margin-top: 7px;
    }
    h4 {
        @include font-16px-c;
        text-align: center;
        width: 100%;
    }
    .redes {
        position: absolute;
        width: 100%;
        height: 53px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.055);
        backdrop-filter: blur(4px);
        border-top: 2px solid rgba(255, 255, 255, 0.582);
        transform: translateY(100px);
        transition: .6s ease-in-out;
        a {
            margin: 0 19px;
            color: #fff;
            &:hover {
                color: $color-a
            }
        }
    }
}