#impd-provas {
    h1 {
        color: $color-a;
        font-weight: bold;
    }
    .box-prova {
        background: #fff;
        border: #eee solid 8px;
        border-radius: 20px;
        padding: 16px;
        transition: .2s ease-in-out;
        &:hover {
            box-shadow: 4px 4px 8px hsla(0, 0%, 0%, 0.16);
        }
        h1 {
            font-size: 32px;
            font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            color: #16EB0F;
            text-align: center;
            margin-bottom: 22px;
        }
        p {
            font-size: 14px;
            font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }
        .provas-btn {
            a {
                margin-left: 16px;
            }
            .btn {
                background: $color-a;
                color: #fff;
                border: solid 2px $color-a;
                transition: .4s ease-in-out;
                &:hover {
                    background: #fff;
                    color: $color-a;
                }
            }
        }
    }
    .modal {
        .btn {
            background: $color-a;
            color: #fff;
            border: solid 2px $color-a;
            transition: .4s ease-in-out;
            &:hover {
                background: #fff;
                color: $color-a;
            }
        }
        .modal-body {
            p {
                font-size: 14px;
                font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;
            }
        }
    }
}