#topico-x-classe {
    background: rgb(78, 78, 78);
    background-image: url(../img/img-topicos.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    .d-pabdd {
        padding: 36px 0;
    }
    h1 {
        color: $color-a;
        font-size: 40px;
        font-weight: bold;
    }
    h2 {
        color: #fff;
        font-size: 18px;
    }
}